@import '../../stylesheets/colors.scss';
@import '../../stylesheets/fonts.scss';

.header {
  font-family: $headers-font;
  margin: auto;
  text-align: center;
  padding: 12px;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.subheader {
  font-size: 2rem;
  margin-top: 0;
}

.grid {}

.grid ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position:center;
    background-size: cover;
    width: 500px;
    height: 400px;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.cat-logo img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.cat-name {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  color: $mint-cream;
}

.link-wrapper {
  background-color: $middle-green;
  width: fit-content;
  height: 29px;
}

.link-wrapper a{
  text-decoration: none;
  color: $mint-cream;
  padding: 18px;
  font-size: 1.4rem;
}

.link-wrapper:hover{ 
  transition: 200ms;
  border: 1px solid $mint-cream;
}

