@import '../../stylesheets/colors.scss';
@import '../../stylesheets/fonts.scss';

.form-wrapper {
  background-color: $blue-sapphire;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  padding: 16px;
  margin: auto;
  color: $mint-cream;
}

.field {
    border-radius: 25px;
    padding: 16px;
    color: $mint-cream;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field {
  .input-form{
    padding: 28px;
    width: 80%;
    margin: auto;
    height: 40px;
    border-radius: 15px;
    border: 1px solid $middle-green;
    margin-top: 10px;
  }
}

button {
  font-family: $body-font;
  font-size: 1.3rem;
  margin: 16px;
  height: 50px;
  background-color: $candy-pink;
  color: $mint-cream;
  border-radius: 15px;
  border: solid 1px $candy-pink;
}

.rating-container {
  text-align: center;
  border-radius: 4px;
  font-size: 18px;
  padding: 40px 0 10px 0;
  cursor: pointer;
  margin: auto;
  width: 70%;
}
