$dark-purple-gradient: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
$fresh-milk-gradient: linear-gradient(to top, #feada6 0%, #f5efef 100%);
$almost-white-gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$middle-green: #5b8c5aff;
$mint-cream: #e2ece9ff;
$blue-sapphire: #05668dff;
$candy-pink: #e16f7cff;
