@import '../../stylesheets/colors.scss';
@import '../../stylesheets/fonts.scss';

.rating-wrapper {
  position: relative;
  display: inline-block;
  color: $mint-cream;
}

.rating {
  color: $jonquil;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
}

.rating-wrapper::before,
.rating::before {
  font-family: "FontAwesome";
  content: "\f005 \0020 \f005 \0020 \f005 \0020 \f005 \0020 \f005";
}